* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: lightslategray;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
}

.boton-menu.active {
    background-color: white;
    color: black;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
}



.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: white;
    color: gray;
    padding: .15rem .25rem;
    border-radius: .75rem;
}

.boton-carrito.active .numerito {
    background-color: black;
    color: white;
}


main {
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    padding: 3rem;
}

.titulo-principal {
    color: gray;
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    width: 300px;
	height: 300px;
	object-fit: cover;

}

.producto-detalles {
    background-color: lightslategray;
    color: white;
    padding: .5rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.producto-titulo {
    font-size: 1rem;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: lightslategray;
    font-size: 1.5rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
    color: white;
    padding: .75rem;
    padding-right: 1rem;

}

.carrito-producto-imagen {
    width: 4rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: rgba(231, 54, 54, 0.678);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}



.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: lightslategray;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: rgb(61, 173, 61);
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}





.disabled {
    display: none;
}

